@import './../../../style/global.module.scss';

.FooterContainer {
  display: flex;
  flex-direction: column;
  gap: $defaultGap;

  .Links > * {
    cursor: pointer;
  }
}

@media (min-width: ($breakpointMinTablet + 'px')) {
  .FooterContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .Caption {
      order: 1;
    }

    .Links {
      order: 0;
    }

    .SocialLinks {
      order: 2;
    }
  }
}
